*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
.produk .menu i{
    padding: 10px;
    font-size: 2.5rem;
    
}
body{}
.produk .menu i:hover{
    border-bottom: 1px solid grey;
}
html{
    font-size: 62.5%;   
    overflow-x: hidden;
    
}
.navbar {
    
    position: fixed;
    border-radius: 10px 10px 20px 20px;
}
.navbar a{
    text-decoration: none;
}
.header{
    top: 0;right: 0;left: 0;
    background-color: #723c0f;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1.4rem 7%;
    z-index: 999;
}
.header .merek{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .merek i{
    font-size: large;
}
.header .merek .judul {
    color: #eeeded;
    font-size: 2rem;
    font-weight: bolder;
}

.header .navbar a{
    font-size: 1.5rem;
    margin-right: 3rem;
    color:#eeeded;
    font-weight: bold;
}
.header .navbar a:hover{
    border: .1rem solid rgb(241, 234, 234);
    border-radius: 10px;
    padding: 5px;
    padding-bottom: .3rem;
}
.header .logout i{
    font-size: 2rem;
    margin-right: 2rem;
    color: #918f8f;
    cursor: pointer;
}
.header .logout i:hover{
    border: 1px solid rgb(143, 140, 140);
    padding: 10px;
    border-radius: 10px;
}
.navbar i{
    font-size: 1.5rem;
    margin-right: 7px;
}

#menu-bar{
    display: none;
}
.wau{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bayar{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 20px;
    width: 50%;
    border: 2px solid rgb(121, 114, 114);
    border-radius: 20px;
   
}
.wau .bayar input{
    padding-left: 10px ;
    text-align: left;
    border-radius: 20px;
    width: 50%;
    margin: 5px;
    height: 30px;
    font-size: 1.5rem;
    background-color: #b6b3b3;
}

@media (max-width: 768px) {
    .product {
        width: 100%;
    }
  
    
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
   
}


@media (max-width:768px) {
    .bayar{
        
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        padding: 20px;
        width: 500px;
        border: 2px solid rgb(121, 114, 114);
        border-radius: 20px;
       
    }
    .wau .bayar input{
        padding-left: 10px;
        text-align: left;
        border-radius: 20px;
        width: 80%;
        margin: 5px;
        height: 30px;
        font-size: 1.5rem;
        background-color: #b6b3b3;
    }
    .produk .wadah{
        display: flex;
        flex-direction: row;
        height: 500px;
        scroll-snap-type: y mandatory;
        overflow-y: scroll ;
    }
    .produk .wadah .menu{
        margin-top: 15px;
    }
    #menu-bar{
        display: inline-block;
    }
    .header .merek .judul{
        color: #868585;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: white;
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }

    .dasbor .dasborperintilan{
        margin-left: 0;
        width: 90%;
    }
   
}

@media (max-width:600px){
    html{
        font-size: 50%;
    }

}
